body {
	background-color: #5f9967;
	font-size: 16pt;
	font-family: "Arial";
}

p {
	text-align: justify;
	margin: auto 15pt auto 15pt;
}

input {
	background-color: #e38da1;
}

input[type="submit"], button {
	width:100pt;
	height:30pt;
	font-size:14pt;
	background-color: #bad6bf;
	border-color: #e6f5e8 #5f9967 #5f9967 #e6f5e8;
}

textarea {
	border: 2px inset #e3e3e3;
}

th {
	text-align:center;
}

.caixa {
	background-color: #e6f5e8;
	margin: auto auto 20pt auto;
	border: 5pt double #bad6bf;
	border-radius: 25pt;
	padding: 25pt 20pt 25pt 20pt;
	width: min(80%,600pt);
}

.caixa.media {
	width: min(60%,450pt);
}

.caixa.pequena {
	width: min(40%,300pt);
}

.centro {
	text-align: center;
}

.logo {
	width: 20vw;
	height: 20vw;
	min-width: 50pt;
	min-height: 50pt;
	max-width: 150pt;
	max-height: 150pt;
	border: 5pt double #777;
	border-radius: 15pt;
	background-color: #fff;
}

.colunas {
	display: flex;
	justify-content: center;
}

.colunas p {
	width: 20%;
	text-align: center;
	font-size: 18pt;
}